@font-face {
  font-family: "Onest";
  src: url("/fonts/Onest.ttf") format("truetype");
}
@font-face {
  font-family: "Prata";
  src: url("/fonts/Prata.ttf") format("truetype");
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Onest";
  margin: 0 5%;
}

/* ---- HEADER ----*/
header {
  display: flex;
  height: 100px;
  place-items: center;
}
.menu {
  align-content: center;
  height: 100px;
  width: 100%;
}
header a {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  margin-right: 3%;
  transition: 0.3s ease-in-out;
}

header a:hover {
  color: #4824ff;
  filter: drop-shadow(0px 0px 50px #4824ff);
}

.btn {
  background: #4824ff;
  border: none;
  border-radius: 55px;
  color: white;
  cursor: pointer;
  font-family: "Onest";
  font-size: 18px;
  font-weight: 500;
  height: 55px;
  margin-right: 2%;
  outline: none;
  overflow: hidden;
  position: relative;
  transition: 0.5s ease-in-out;
  width: 222px;
}
.btn:hover {
  filter: drop-shadow(0px 0px 35px #4824ff);
}
.btn:before {
  background: #ffffffbd;
  content: "";
  filter: blur(2px);
  height: 300px;
  position: absolute;
  transform: rotate(-20deg) translate(-50px, -200px);
  transition: 1.5s;
  width: 30px;
}

.btn:hover:before {
  transform: rotate(-20deg) translateX(200px);
}

.icon {
  background: black;
  border-radius: 50%;
  cursor: pointer;
  height: 55px;
  margin-right: 2%;
  transition: 0.3s;
}
.icon.telegram {
  content: url("/src/assets/icons/telegram.svg");
}
.icon.instagram {
  content: url("/src/assets/icons/instagram.svg");
}
.icon:hover {
  background: #4824ff;
  filter: drop-shadow(0px 0px 35px #4824ff40);
}

.switch {
  align-items: center;
  background: #eeebff;
  border-radius: 55px;
  display: flex;
  height: 55px;
  overflow: hidden;
  width: 135px;
}
.theme {
  background-color: black;
  border-radius: 50%;
  filter: invert();
  height: 51px;
  margin: 2px;
  padding: 2px;
  transition: 0.5s ease-in-out;
  width: 51px;
}
.theme.light {
  content: url("/src/assets/icons/sun.svg");
}
.switch:hover > .theme.light {
  transform: rotate(45deg);
}

/* ---- WELCOME BLOCK ---- */
.welcome-block {
  height: 650px;
  display: flex;
  place-items: center;
}

.welcome-block h1 {
  font-size: 52px;
}

.welcome-block h2 {
  font-size: 42px;
  font-weight: 450;
}

.welcome-block h3 {
  font-size: 30px;
  font-weight: 300;
}

.title {
  background: linear-gradient(
    to right,
    #4824ff,
    #4824ff,
    #85ebff,
    #eeebff,
    #85aeff,
    #4824ff,
    #4824ff
  );
  background-clip: text;
  color: transparent;
  background-size: 200%;
  animation: gradientAnimation 5s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.welcome-block .first-block {
  align-content: center;
  width: 55%;
}

.main-image-box {
  width: 45%;
  margin-top: -3%;
}

.first-image-layer {
  position: absolute;
  height: 550px;
}

.second-image-layer {
  animation: bouncing 5s linear infinite;
  height: 550px;
  width: 550px;
}

.third-image-layer {
  height: 550px;
  position: absolute;
  margin-left: -550px;
  margin-top: 24px;
}

.fourth-image-layer {
  height: 550px;
  position: absolute;
  margin-left: -500px;
  margin-top: 24px;
}

.fifth-image-layer {
  height: 550px;
  position: absolute;
  margin-left: -1100px;
  margin-top: 24px;
}

@keyframes bouncing {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* ---- SERVICE BLOCK ---- */
.service-block {
  height: 500px;
  margin-left: -5vw;
  margin-right: -5vw;
  padding: 0 5vw;
  background: #fbfaff;
  align-content: center;
}

.service-block .tag {
  display: flex;
  font-size: 24px;
  font-weight: 500;
  background: #eeebff;
  color: #4824ff;
  margin: 0 12px 0 0;
  padding: 8px 22px 8px 8px;
  border-radius: 24px;
}

.service-block .tag .tag-icon {
  margin: -10px;
  padding: 0;
  position: relative;
  content: url(/src/assets/icons/check.svg);
  background: none;
  scale: 0.33;
  height: 50px;
}

.portfolio-block {
  height: auto;
}

.portfolio-block .first-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-block .main-title {
  font-size: 56px;
  font-family: "Prata";
  font-weight: 500;
  background: linear-gradient(to right, black, #4824ff);
  color: transparent;
  background-clip: text;
}

.portfolio-block .array-icon {
  margin: 0 20px;
  padding: 0;
  width: 75px;
  filter: drop-shadow(20px 20px 15px #4824ff25);
}

.portfolio-block .title-border {
  font-size: 56px;
  font-family: "Prata";
  font-weight: 500;
  color: white;
  margin: 10px 0;
  text-shadow:
    -1px -1px 0 #4824ff30,
    1px -1px 0 #4824ff30,
    -1px 1px 0 #4824ff30,
    1px 1px 0 #4824ff30;
}

.gradient-part-one {
  position: absolute;
  background: linear-gradient(to right, transparent, white);
  color: transparent;
  height: 70px;
  width: 200px;
}

.gradient-part-two {
  position: absolute;
  background: linear-gradient(to left, transparent, white);
  color: transparent;
  height: 70px;
  width: 200px;
}

.portfolio-block .tag {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  background: #eeebff;
  color: #4824ff;
  margin: 0 12px 0 0;
  padding: 8px 22px;
  border-radius: 24px;
  border: 1px solid #eeebff;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.portfolio-block .tag:hover {
  background: #4824ff;
  color: white;
  filter: drop-shadow(0px 0px 30px #4824ff25);
}

.portfolio-block .selected {
  background: #04001a;
  color: white;
  border: 1px solid #4824ff;
}

/* ---- REVIEW BLOCK ---- */
.review-block {
  margin: 80px 0px;
  height: 580px;
  background: #4824ff;
  border-radius: 28px;
}

.review-block h1 {
  color: white;
  text-align: center;
  padding-top: 36px;
  font-size: 50px;
}

.review-block .description {
  color: white;
  text-align: center;
  margin-top: -12px;
  font-size: 22px;
  line-height: 32px;
}

.review-block .selecting {
  background: white;
  color: black;
  margin: 0px 8px;
  font-weight: 500;
}

.review-carousel {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 1260px;
}

.review-container {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  overflow: hidden;
}

.next-button {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  transition: 0.7s;
  align-content: center;
  margin: 16px 0 0 10px;
}

.next-button .array-next-icon {
  content: url(/src/assets/icons/array-next.svg);
  scale: 0.7;
  height: 50px;
  //padding: 15px;
  margin: 3px;
}

.next-button:hover {
  background: #00000050;
}

.next-button:hover .array-next-icon {
  filter: invert(100%);
}

.review-card {
  min-width: 420px;
}

.review-content {
  height: 230px;
  width: 384px;
  background: white;
  border-radius: 24px;
  margin: 0 18px;
}

.review-block .review {
  margin-top: auto;
  font-size: 19px;
  line-height: 27px;
  width: 90%;
}

.review-block .link {
  display: flex;
  position: right;
  height: 40px;
  width: 80px;
  background: black;
  border-radius: 24px;
  cursor: pointer;
  border: 2px solid black;
  transition: 0.5s ease-in-out;
}

.review-block .link:hover {
  border: 2px double #4824ff;
  filter: drop-shadow(0px 0px 25px #4824ff90);
}

.review-block .telegram-icon {
  margin: -7px -4px;
  padding: 0;
  position: relative;
  content: url(/src/assets/icons/telegram-blue.svg);
  background: none;
  scale: 0.84;
  height: 50px;
}

.review-block .array-corner-icon {
  margin: -6px -18px;
  padding: 0;
  position: relative;
  content: url(/src/assets/icons/array-corner.svg);
  background: none;
  scale: 0.37;
  height: 50px;
}

/* ---- GUARANTEES BLOCK ---- */

.guarantees-block {
  height: 540px;
  font-size: 26px;
}

.guarantees-points {
  list-style-type: none;
  padding-left: 20px;
}

.guarantees-points li {
  position: relative;
  padding-left: 60px;
}

.guarantees-points li::before {
  content: "";
  position: absolute;
  left: 0;
  transform: translateY(-10%);
  width: 40px;
  height: 40px;
  background-image: url(/src/assets/icons/mark.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: -20px;
}
.point {
  margin-top: 35px;
}

/* ---- FOOTER BLOCK ---- */

.footer {
  height: 80px;
  text-align: center;
  font-size: 14px;
  border-top: 1px solid #cec4fe50;
  margin-left: -5vw;
  margin-right: -5vw;
  align-content: center;
}
